.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: cornflowerblue;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.40);
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button:hover {
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.40);
}

.buttonicon {
    padding-right: 12px;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-head {
    color: white;
}

div p {
    text-align: center;
}

.dropsearch {
    width: 80%;
} 

.results {
display: flex;
flex-direction: row;
flex-wrap: wrap;

justify-content: space-evenly;
border-top: 2px;
border-top-style: dashed;
}

h3 {
    font-weight: 700;
}

#error{
color: white;
font-weight: bold;
}